/*main page*/
html{
		background:url('../images/wallpaper.png');
		
		background-color:#444;	
		}

body{
		
		background:url('../images/background.png') no-repeat bottom right;
		
		margin:0px;
		clear:both;
		}
